/* Layout principal */
.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Conteúdo à direita da sidebar */
.content {
  flex: 1; /* Ocupa o espaço restante */
  margin-left: 250px; /* Largura da sidebar */
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.sidebar.collapsed + .content {
  margin-left: 90px; /* Largura da sidebar recolhida */
}

/* Main Content */
.main-content {
  flex: 1; /* Ocupa o espaço restante */
  padding: 20px;
  background-color: #f9f9f9;
  overflow-y: auto; /* Adiciona scroll se o conteúdo for muito longo */
}

/* Estilos para o tema escuro */
.app.dark .main-content {
  background-color: #2c2c2c;
  color: #ffffff;
}

/* Responsividade para telas menores que 1000px */
@media (max-width: 768px) {
  .content {
    margin-left: 90px; /* Largura do sidebar recolhido */
  }

  .header {
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }

  .sidebar {
    position: fixed; /* Fixa o Sidebar na tela */
    z-index: 1000; /* Garante que o Sidebar fique acima do Header */
  }

  .search-bar {
    width: calc(200px + 10vw); /* Barra de pesquisa ocupa toda a largura */
    max-width: 400px;
    margin-bottom: 10px;
  }

  .header-right, .app-version {
    display: none; /* Esconde os itens do header */
  }

  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .footer .theme-toggle,
  .footer .notification-icon,
  .footer .user-menu {
    margin: 0 10px;
  }
}

@media (max-height: 768px) {
  .header {
    left: 90px;
  }

}

/* Responsividade para telas com altura menor que 900px */
/*@media (max-height: 900px) {
  .sidebar {
    overflow-y: auto; /* Adiciona barra de rolagem no Sidebar
  }

  .header {
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    z-index: 999; /* Garante que o Header fique abaixo do Sidebar
  }

  .content {
    margin-top: 65px; /* Compensa a altura fixa do Header
  }
}*/